Authlib
googlesearch-python==1.0.1
yahoo-fin==0.8.9.1
yfinance==0.1.63
setuptools>=41.0.0
Flask
flask_wtf
numpy==1.18.2
pandas==1.0.3
nltk==3.4.5
Keras
requests==2.23.0
pygame==1.9.6
COVID19Py==0.3.0
gunicorn==19.9.0
billboard.py
pytz==2019.3
transformers
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.6.0-cp36-cp36m-manylinux2010_x86_64.whl
